
$bg-color: #0a0812;           
$card-bg: #131022;            
$sub-alt-color: #16142a;      
$main-color: #fd77d7;         
$accent-color: #CF6BDD;       
$text-color: #ebebef;         
$sub-color: #5d637a;          
$error-color: #ff5869;        
$pos-color: #17C842;          
$better-gray: #8490a7;        


$gradient-start: #2d1339;     
$gradient-end: $bg-color;     


$button-shadow: 0 4px 14px 0 rgba($main-color, 0.15);
$card-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
$glow-effect: 0 0 15px rgba($main-color, 0.2);

.pos { 
    color: $pos-color !important;
}

.err { 
    color: $error-color !important;
}

