# Ignore the virtual environment directory
server/venv/

# Ignore server_test.py specifically
server/server_test.py
server/new_server_test.py
server_test/
# Local Netlify folder
.netlify
client/aaravsim/.env