/* .custom-tooltip { 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 50%; 
}

.stock-ticker { 
    width: 75%; 
}
.App { 
    background-color: #0F1820;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #333;
} */
